

        <header>
            <h1><%= link_to "FastCount", users_path %></h1>
            <h2>Easy to use and very cool</h2>

            <nav>
                <!-- Comment-->
                <ul>

                    <li>
                        
                        <%= link_to "home", users_path %>
                       </li>
                   
                   
                    
                
                    
                </ul>

            </nav>


        </header>
        <hr>

        <section class="container">

            <article id="content"> 

                <h3>Create your account!</h3>

                <p>Just one more step to go. After the signup you can use this enterly app.</p>


            </article>

            <%= image_tag("banner.jpg") %>
        </section>			




        



        <section class="wrapper_columns">

            <article class="column_left">  

                <a id="signup"></a>

                <h3>Sign Up</h3>


                
                <%= form_for @user do |f| %>
                          
               <%= f.label :"Username:" %>
                <br />
                    <%= f.text_field :username %> 
                <br/>
                   
                    <%= f.label :"Password:" %>
                <br />
                    <%= f.password_field :password %>
                
                    <br />
                   <%= f.label :"Email:" %>
                <br />
                    <%= f.text_field :email %>
                <br />
                   <%= f.submit "Sign Up" %>
                                
                <% end %>
                
            </article>

            <section class="column_right">

                
                
                    <% if @user.errors.any? %>
                <article class="row">  

                    
                    <p>
                    <h2>Errors:</h2>
                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                    
                
                    </p>

                </article>   
            
            <% else %>
                
            <article class="row">  

                <%= image_tag "password.png" %>
                    <p>
                        Please choose a password with characters and numbers.
                        It's for your safety!
                    </p>

                </article>   
            

                <article class="row">  

                <%= image_tag "email.png" %>
                    <p>
                        After the registration you'll receive an email to confirm.
                        If you forget the password we can send you a new one.
                    </p>

                </article>   
            
            
            <% end %>

            </section>

        </section>







        <div style="clear: both;"></div>




        <footer>

            <div class="footer_content">	

                <div class="wrapper">

                    <div class="social">

                     <a href="#"><%= image_tag("facebook.png", class: "icons", width: 25) %></a>
                     <a href="#"><%= image_tag("google.png", class: "icons", width: 25) %></a>
                     <a href="#"><%= image_tag("twitter.png", class: "icons", width: 25) %></a>

                    </div>

                    &copy; Copyright 2014 - FastCount by Luis Rocha

                </div>

            </div>

        </footer>
