	

<aside>

            <div id="operations">
                <h3>Operations</h3>

                   
                
                <%= link_to "<button>Add Income</button>".html_safe, add_income_path %>

		
               <%= link_to "<button>Show Incomes</button>".html_safe, show_income_path %>
                
            

            </div>

        </aside>



        <section id="box_operations">

            <article>  

                <h3>Welcome</h3>

                <div class="left">

                    <h4>How to use:</h4>

                    <p>
                        Well there are six features that you can choose in order to use
                        this aplication. You can add imcomes/expenses, create new categories 
                        and delete them as well delete a transaction if needed. You can also
                        use the "Show Graphs" to see the graphs.
                    </p>

                </div>

                <div class="right">

                    <h4>Help:</h4>

                    <p>
                        If you have some kind of trouble please feel free to contact us and
                        tell what's going wrong. In the case that you have ideas for new features
                        send as an email.
                    </p>

                    <br>







                </div>

            </article>

        </section>




        <div style="clear: both;"></div>




        <footer>

            <div class="footer_content">	

                <div class="wrapper">

                    <div class="social">

                     <a href="#"><%= image_tag("facebook.png", class: "icons", width: 25) %></a>
                     <a href="#"><%= image_tag("google.png", class: "icons", width: 25) %></a>
                     <a href="#"><%= image_tag("twitter.png", class: "icons", width: 25) %></a>

                    </div>

                    &copy; Copyright 2014 - FastCount by Luis Rocha

                </div>

            </div>

        </footer>
