<!DOCTYPE html>
<html>
<head>
  <title>Fastcount</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    
    
    <header>
            <h1><%= link_to "FastCount", users_path %></h1>
            <h2>Easy to use and very cool</h2>

            <nav>
                <!-- Comment-->
                <ul>

               
                    
                    <li>
                       
                        
                        <a href="/users#features">features</a></li>
                    
                      <% if current_user %>
   <li><span> <%= current_user.username %></span></li>
    <li><%= link_to "Log out", log_out_path %></li>
  <% else %>
    <li><%= link_to "Sign up", sign_up_path %></li>
       <li> <%= link_to "log in", log_in_path %></li>
   
  <% end %>
                </ul>

            </nav>


        </header>

        <hr>
    
    

    


<%= yield %>

</body>
</html>
